@import '../../global.scss';

.featured{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 50px;

        @include mobile{
            font-size: 20px;
        }
    }

    ul{
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;

        @include mobile{
            flex-wrap: wrap;
            justify-content: center;
        }
        
    }

    .appsContainer{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        

        @include mobile{
            width: 100%;
        }
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }

        .appsContainerItem{
            width: 250px;
            height: 180px;
            border-radius: 20px;
            border: 1px solid rgb(240, 239, 239);
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            transition: all .5s ease;
            cursor: pointer;

            @include mobile {
                width: 150px;
                height: 120px;
            }

            h3{
                position: absolute;
                font-size: 20px;
            }

            &:hover{
                background-color: $mainColor;
                img{
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }

              
    }

    .imgOpen{
        width: 80%;
        height: 50%;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        

        img{
            width: 50%;
            height: 100%;
                        
        }

        span{
            position: absolute;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -1vw;
            right: 20vw;
            background-color: white;
            border-radius: 20px;
            font-size: 30px;
            cursor: pointer;
        }
    }


}